html,
body {
  height: 100%;
  margin: 0px;
  background-color: #F6F6F6;
}
.outer {
  height: 60px;
}
#main_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
header {
  background-color: lightsteelblue;
  order: 1;
  border-bottom: 1px solid black;
}
section {
  background-color: lightpink;
  order: 2;
  flex-grow: 1;
}
footer {
  background-color: lightgoldenrodyellow;
  order: 3;
  border-top: 1px solid black;
}
