// Variables

@black-line: 1px solid black;

// Mixins

    // width, height, background-color
    .whc(@width: 0%, @height: 0%, @bg-color: #F6F6F6) {
        width: @width;
        height: @height;
        background-color: @bg-color;
    }

// Styles 

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    font-family: "Verdana";
    background-color: #F6F6F6;
}

body {
    margin: 0px 50px 0px 50px;
}

ul {
    list-style-type: none;
}

.hide {
    display: none;
}

// -------------------------------------------------------------

// Header

    @media screen and (max-width: 375px) {
        header {
            .whc(275px, 64px);
            border-bottom: @black-line;
        }
    }

    @media screen and (min-width: 375px) {
        header {
            .whc(100%, 64px);
            border-bottom: @black-line;
        }
    }

    @media screen and (min-width: 600px) {
        header {
            .whc(100%, 10%);
            border-bottom: @black-line; 
        }
    }

    .header-element-container {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .header-element-container h1 {
        display: inline-block;
    }


// -------------------------------------------------------------

// Content

    #arrow-next {
        position: absolute;
        right: 0;
    }

    #arrow-previous {
        position: absolute;
        left: 0;
    }

    @media screen and (max-width: 375px) {
        main {
            .whc(275px, calc(100% - 64px - 51px));
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "aside" 
        }
    }

    @media screen and (min-width: 375px) {
        main {
            .whc(100%, calc(100% - 64px - 51px));
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "aside" 
        }
    }    

    @media screen and (min-width: 600px) {
        main {
            .whc(100%, 82%);
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
                "aside" 
        }
        aside {
            border-right: none;
        }
    }

    @media screen and (min-width: 768px) {
        main {
            .whc(100%, 82%);
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 100%;
            grid-template-areas: 
                "aside" "section";
        }

        aside {
            border-right: @black-line;
        }
    }

    a > i {
        color: #000000;
    }

    .aside-header-container {
        display: flex;
        height: 70px;
        align-items: center;
        margin: 0px 0px 0px 30px;
    }

    .aside-header-container h2 {
        display: inline-block;
    }

    .aside-content-container ul {
        padding: 30px;
    }

    .aside-content-container {
        height: 90%;
    }

    @media screen and (min-width: 1200px) {
        .list-item {
            border-left: 1px solid transparent;
            display: flex;
            height: 55px;
            background-color: lightgrey;
            margin-bottom: 20px;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            transition: border 200ms ease-in-out;

            &:hover {
                border-left: 5px solid black;
            }
        }
    
        .list-item div {
            margin-left: 10px;
        }
    
        .list-item span {
            font-size: 1em;
        }
    
        .list-item > span {
            margin-right: 10px;
            font-style: italic;
        }
    
        .list-item i {
            padding-bottom: 3px;
        }

        .list-item i:hover {
            padding-bottom: 3px;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 1200px) {
        .aside-content-container ul {
            padding: 0 30px;
        }

        .list-item {
            display: block;
            //height: 100%;
            background-color: lightgrey;
            margin-bottom: 15px;
            padding: 10px;
            cursor: pointer;
        }

        .list-item:last-child {
            margin-bottom: 0;
        }
    
        .list-item div {
            height: 50%;
            margin: 0 auto;
            width: 100%;
        }
    
        .list-item span {
            font-size: 1em;
        }
    
        .list-item > span {
            height: 50%;
            display: block;
            font-style: italic;
            font-size: 0.8em;
        }
    
        .list-item i {
            padding-bottom: 3px;
        }

        .list-item i:hover {
            padding-bottom: 3px;
            cursor: pointer;
        }
    }

    @media screen and(max-width: 600px) {
        .aside-header-container {
            display: flex;
            height: 10%;
            align-items: center;
            margin: 0px 0px 0px 0px;
        }

        .aside-content-container ul {
            padding: 10px;
        }
    }

    .aside-content-footer-container {
        height: calc(100% - 70px);
    }

    .aside-footer-container {
        display: flex;
        height: 10%;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .aside-footer-container div {
        margin: 0 20px;
    }

    .aside-footer-container div:hover {
        cursor: pointer;
    }

    // ----------------------------------------------------------

    section {
        padding-left: 30px;
        display: none;
    }

    @media screen and (min-width: 768px) {
        section {
            display: block;
        }

        .section-header-container {
            display: flex;
            height: 10%;
            align-items: center;
            justify-content: space-between;
        }
    
        .section-header-container h2 {
            display: inline-block;
        }
    
        .section-header-container i {
            margin: 0px 3px 8px 0px;
        }
    
        .section-header-container > i {
            margin: 0px;
            display: inline-block;
            cursor: pointer;
        } 
    
        .section-content-container {
            height: 90%;
            overflow: auto;
        }

    }

    .control-div i {
        cursor: pointer;
    }

    .section-content-container > div {
        height: 100%;
    }

    .section-content-container form * {
        display: block;
    }

    .section-content-container form > div {
        margin-bottom: 30px;
    }

    .section-content-container label {
        font-size: 1.5em;
    }

    .section-content-container .sitzungDetail input {
        width: 100%;
        padding: 10px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        background-color: #F6F6F6;
        border: none;
        border-bottom: 3px solid #d3d3d3;
        font-size: 1.25em;
    }

    .section-content-container .sitzungPatch input {
        width: 100%;
        padding: 10px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        background-color: lightgrey;
        border: none;
        font-size: 1.25em;
    }

    .section-content-container .sitzungPost input {
        width: 100%;
        padding: 10px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        background-color: lightgrey;
        border: none;
        font-size: 1.25em;
    }

    .object_overflow > div {
        height: 230px;
        margin-top: 15px;
        margin-right: 75px;
        overflow: auto;
    }

    .active {
        border-left: 5px solid black;
        background-color: #c4c4c4;
    }


// -------------------------------------------------------------

// Footer

    footer {
        display: flex;
        align-items: center;
    }

    @media screen and (max-width: 375px) {
        footer {
            .whc(275px, 51.2px);
            border-top: @black-line;
            justify-content: center;
        }
    }

    @media screen and (min-width: 375px) {
        footer {
            .whc(100%, 51.2px);
            border-top: @black-line;
            justify-content: center;
        }
    }

    @media screen and (min-width: 600px) {
        footer {
            .whc(100%, 8%);
            border-top: @black-line;
            justify-content: center;
        }
    }

    @media screen and (min-width: 768px) {
        footer {
            .whc(100%, 8%);
            border-top: @black-line;
            justify-content: right;
        }
    }


// -------------------------------------------------------------

.material-icons.md-18 { font-size: 18px; vertical-align: middle;}
.material-icons.md-24 { font-size: 24px; vertical-align: middle;}
.material-icons.md-36 { font-size: 36px; vertical-align: middle;}
.material-icons.md-48 { font-size: 48px; vertical-align: middle;}


// -------------------------------------------------------------
.spinner-loader.onload {
    display: inline-block;
}

.spinner-loader {
    border-radius: 50%;
    cursor: default;
    display: none;
    height: 20px;
    top: 2px;
    left: calc(50% - 25px);
    position: relative;
    width:20px;

    &::after, &::before {
        border-radius: 50%;
        content: '';
        display: block;
        height: 20px;
        width: 20px;
    }

    &::after {
        position: absolute;
        top: -2px;
        left: -2px;
        border: 2px solid transparent;
        border-top-color: rgb(187, 187, 187);
        border-bottom-color: rgb(187, 187, 187);
        animation: spinny 1.5s ease-in-out infinite;
    }
}

@keyframes spinny {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(45deg) scale(1.2);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}