* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100%;
  font-family: "Verdana";
  background-color: #F6F6F6;
}
body {
  margin: 0px 50px 0px 50px;
}
ul {
  list-style-type: none;
}
@media screen and (max-width: 375px) {
  header {
    width: 275px;
    height: 64px;
    background-color: #F6F6F6;
    border-bottom: 1px solid black;
  }
}
@media screen and (min-width: 375px) {
  header {
    width: 100%;
    height: 64px;
    background-color: #F6F6F6;
    border-bottom: 1px solid black;
  }
}
@media screen and (min-width: 600px) {
  header {
    width: 100%;
    height: 10%;
    background-color: #F6F6F6;
    border-bottom: 1px solid black;
  }
}
.header-element-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.header-element-container h1 {
  display: inline-block;
}
@media screen and (max-width: 375px) {
  main {
    width: 275px;
    height: 500px;
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside";
  }
}
@media screen and (min-width: 375px) {
  main {
    width: 100%;
    height: 500px;
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside";
  }
}
@media screen and (min-width: 600px) {
  main {
    width: 100%;
    height: 82%;
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside";
  }
  aside {
    border-right: none;
  }
}
@media screen and (min-width: 768px) {
  main {
    width: 100%;
    height: 82%;
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100%;
    grid-template-areas: "aside" "section";
  }
  aside {
    border-right: 1px solid black;
  }
}
.aside-header-container {
  display: flex;
  height: 10%;
  align-items: center;
  margin: 0px 0px 0px 30px;
}
.aside-header-container h2 {
  display: inline-block;
}
.aside-content-container ul {
  padding: 30px;
}
.aside-content-container {
  height: 80%;
}
@media screen and (min-width: 1200px) {
  .list-item {
    display: flex;
    height: 55px;
    background-color: lightgrey;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
  }
  .list-item div {
    margin-left: 10px;
  }
  .list-item span {
    font-size: 1em;
  }
  .list-item > span {
    margin-right: 10px;
    font-style: italic;
  }
  .list-item i {
    padding-bottom: 3px;
  }
  .list-item i:hover {
    padding-bottom: 3px;
    cursor: pointer;
  }
}
@media screen and (max-width: 1200px) {
  .list-item {
    display: block;
    height: 100%;
    background-color: lightgrey;
    margin-bottom: 15px;
    padding: 10px;
  }
  .list-item div {
    height: 50%;
    margin: 0 auto;
    width: 100%;
  }
  .list-item span {
    font-size: 1em;
  }
  .list-item > span {
    height: 50%;
    display: block;
    font-style: italic;
    font-size: 0.8em;
  }
  .list-item i {
    padding-bottom: 3px;
  }
  .list-item i:hover {
    padding-bottom: 3px;
    cursor: pointer;
  }
}
@media screen and (max-width: 600px) {
  .aside-header-container {
    display: flex;
    height: 10%;
    align-items: center;
    margin: 0px 0px 0px 0px;
  }
  .aside-content-container ul {
    padding: 10px;
  }
}
.aside-footer-container {
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: space-between;
}
.aside-footer-container div {
  margin: 0 20px;
}
.aside-footer-container div:hover {
  cursor: pointer;
}
section {
  padding-left: 30px;
  display: none;
}
@media screen and (min-width: 768px) {
  section {
    display: inline;
  }
  .section-header-container {
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
  }
  .section-header-container h2 {
    display: inline-block;
  }
  .section-header-container i {
    margin: 0px 3px 8px 0px;
  }
  .section-header-container > i {
    margin: 0px;
    display: inline-block;
    cursor: pointer;
  }
  .section-content-container {
    height: 90%;
    background-color: lightcoral;
  }
}
footer {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 375px) {
  footer {
    width: 275px;
    height: 51.2px;
    background-color: #F6F6F6;
    border-top: 1px solid black;
    justify-content: center;
  }
}
@media screen and (min-width: 375px) {
  footer {
    width: 100%;
    height: 51.2px;
    background-color: #F6F6F6;
    border-top: 1px solid black;
    justify-content: center;
  }
}
@media screen and (min-width: 600px) {
  footer {
    width: 100%;
    height: 8%;
    background-color: #F6F6F6;
    border-top: 1px solid black;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  footer {
    width: 100%;
    height: 8%;
    background-color: #F6F6F6;
    border-top: 1px solid black;
    justify-content: right;
  }
}
.material-icons.md-18 {
  font-size: 18px;
  vertical-align: middle;
}
.material-icons.md-24 {
  font-size: 24px;
  vertical-align: middle;
}
.material-icons.md-36 {
  font-size: 36px;
  vertical-align: middle;
}
.material-icons.md-48 {
  font-size: 48px;
  vertical-align: middle;
}
